<div class="footer">
<footer class="page-footer footer-links" >
    <div class="container ">
      <div class="row"> 
        <div class="col l6 s12">
          <h5 class="white-text">Coinify.cf</h5>
          <p class="grey-text text-lighten-4">Compare various exchanges to get the best deal #<i class="fa fa-btc" aria-hidden="true"></i>Love</p>
          
        </div>
        <div class="col l4 offset-l2 s12">
          <a id="git" href="https://github.com/adigupta13/CoinDiff"><i class="fa fa-github fa-2x" aria-hidden="true"></i></a>
          <p class="grey-text text-lighten-4">An open source project by <a href="https://github.com/adigupta13">Aditya</a> and <a href="github.com/hjoshi123">Hemant</a></p>
        </div>
      </div>
    </div>

    <div class="container" id = "last">
      <div class="row">
        <div class="col l6 s12 ">
          <a>© 2018 Coinify.cf</a>
        </div>
        <div class="col l4 offset-l2 s12 ">
          <a > Last update at <%= priceList['updateTime'] %> UTC</a>
        </div>
      </div>
    </div>
  </footer>
</div>
</body>
</html>