<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        
        <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-113566887-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-113566887-1');
</script>


        <title>Crypto</title>
        <!-- <link href="/css/mdb.css" rel="stylesheet"> -->
        <link href="/css/style.css" rel="stylesheet">
        <link rel="stylesheet" href="/css/font-awesome.min.css">
        <!-- <link type="text/css" rel="stylesheet" href="css/materialize.css"  media="screen,projection"/> -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        <link href="/css/style.css" rel="stylesheet">
        
    </head>

    <body>

        
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top ">
                <nav class="navbar navbar-light bg-faded">
                    <a class="navbar-brand" href="#">
                      <img src="coinify-textgrey.png" height="36" alt="">
                    </a>
                  </nav>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                  
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        
                        <li class="nav-item">
                          
                        </li>
                      </ul>
                      <form class="form-inline my-2 my-lg-0">
                          <a class="nav-link" data-toggle="modal" data-target="#Modal1" id = "exchange"><i class="fa fa-handshake-o fa-2x" aria-hidden="true"></i></a>
                          <a class="nav-link" title="Sort" onclick="sortTable()" id = "sort"><i class="fa fa-arrow-down fa-2x" aria-hidden="true"></i></a>
                        <input class="form-control mr-sm-2" type="search" onkeyup="search()" placeholder="Search" aria-label="Search" id = "myInput">
                        <button class="btn btn-secondary" type="submit">Search</button>
                      </form>
                    </div>
                  </nav>

              
                      <div class="modal fade" id="Modal1" tabindex="-1" role="dialog" aria-labelledby="Modal1" aria-hidden="true">
                          <div class="modal-dialog" role="document">
                          <div class="modal-content">
                          <div class="modal-header">
                          <h5 class="modal-title" id="ModalLabel">Add another exchange</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                          </button>
                          </div>
                          <div class="modal-body">
                          Drop a message at adi.gupta13@gmail.com to let me know the exchanges you would like to see on Coinify.
                          </div>
                          <div class="modal-footer">
                          <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                          <button type="button" class="btn btn-warning">Save</button> -->
                          </div>
                          </div>
                          </div>
                          </div>
