<% include partials/header %>

    <div classs="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    Gate.IO 
                </tr>
                <tr>
                    
                </tr>
            </thead>
        </table>
    </div>

<% include partials/footer %>